<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>movierecsysrestful</display-name>
  
  
  <servlet>
    <servlet-name>movierecsysrestful</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>restService</param-value>
    </init-param> 
	<init-param>
        <param-name>debug</param-name>
        <param-value>0</param-value>
    </init-param>
    <init-param>
        <param-name>listings</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>readonly</param-name>
        <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>  
  
    <security-constraint>
	    <web-resource-collection>
	    	<web-resource-name>Allowed methods</web-resource-name>
	        <url-pattern>/*</url-pattern>
	        <http-method>GET</http-method>
	        <http-method>POST</http-method>
	        <http-method>PUT</http-method>
	        <http-method>DELETE</http-method>
	    </web-resource-collection>
	    <!-- no auth-constraint tag here -->
	</security-constraint>

  
  <servlet-mapping>
    <servlet-name>movierecsysrestful</servlet-name>
    <url-pattern>/restService/*</url-pattern>
  </servlet-mapping>
  

</web-app>